@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ============================ HEADER =========================== */
.banner{

    display: flex;
    justify-content: center;
    width: 75%;
    color: white;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: url(../Images/henry-be-lc7xcWebECc-unsplash\ \(1\)\ \(1\).jpg);
    background-size: cover;
    height: auto;
}

.menu{
    background-color: #197279;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.navigation_bar{
    background-color: #61A1E2;
    padding: 15px;
}

.picture_title{
    display: flex;
    flex: 3;
    justify-content: right;;
}

.introductory{
    flex: 2;
    margin: 3.5vw 1.5vw;

}

.name_title h2{
    margin: 0;
}

.name_title{
    flex: 3;
    margin-top: 3vw;
    
}

.Profile_picture{
    flex: 1;
    margin: auto 1.5vw;

}

.Profile_picture img{
    border-radius: 50%;
    border: 10px #197279 solid;
}

.fa-github{
    color: #197279;
    font-size: 3.8vw;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.menu a:hover{
    color: #197279;
    font-size: 1.5rem;
}

.contact_github{
    color: white;
    display: flex;
    justify-content: flex-start;

}

.contact_github a{ 
    margin: 5px;

}


.contact_github button{
    padding: .7vw;
    border-radius: 10%;
    background-color: #197279;
    color: white;
    border: none;
    margin-top: 0.5vw;
}

.menu ul{
    text-decoration: none;
    list-style-type: none;
}

/* ============================= BODY ============================= */

body{
    background-color: #D5E6E0;
}

/* ============================= MAIN ============================= */

main h2{
    padding-bottom: 20px;
    text-align: center;
}

section{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


main{
    margin-bottom: 1.52vw;
}



h2{
    margin-top: 100px;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 10px;
    text-align: center;
}

article{
    margin: 0 20px 20px 20px;
    padding: 20px;
}



/* **********************= skills_section =************************ */


#otherSkills, #software, #toolsoftrade, #languages{
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;

}

.headings{
    margin: 5px;
}


#SkillsDemo img{
    width: 30px;

}

#SkillsDemo h2{
    margin-top: 0px;
}

.headings{
    display: block;
}

#SkillsDemo h4{
    margin-bottom: 15px;
    text-align: center;

}

.skillsContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
 
.skillsContent div{
    background-color: #FFE8D2;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
    padding: 10px;
 
}

.skillsContent ul li{
    list-style-type: none;
}
/* =========================== Education and certification ======================= */

.educationContent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #FFE8D2;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

/* ============================== Work =============================== */

#work article{
    display: flex;
    justify-content: center;
}


.work , .responsibilities_accomplishments{
    margin:  5px;
}

#work article{
    background-color: #FFE8D2;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
    
}

.work{
    display: flex;
    justify-content: center;
}


/* ===================== contacts ====================== */

.clear{
    clear: both;
    height: 10vh;
}



#contacts article{
    background-color: #FFE8D2;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
}


/* ================================== FORM ==============================*/

#submit:hover, #reset:hover{
    background-color: #197279;
    color: #FFE8D2;
    font-size: 25px;
}

.form-buttons{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#submit, #reset{
    font-size: 20px;
}


.choices{
    display: block;
}

input, select, option{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

textarea{
    border-radius: 10px;
}

form{
    width: 40vw;
    margin: 10px auto;
}

.choices{
    margin-top: 4px;
    margin-bottom: 3px;
}

fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
}


/* ========================= FOOTER ======================= */

.contact_icons{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

footer a{
    margin: .5vw;
}

footer .fa-github, footer .fa-linkedin, footer .fa-twitter,footer .fa-instagram,.fa-sharp{
    color: #61A1E2;
    font-size: 50px;
    padding: 5px;
}

footer .fa-github:hover, footer .fa-linkedin:hover, footer .fa-twitter:hover,footer .fa-instagram:hover,.fa-sharp:hover{
    color: #6eb7ff;
    font-size: 55px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.555);
}

footer{
    height: 100px;
    background-color: #197279;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.highlight{
    background-color: #209ea7;
    margin-bottom: 0.5vw;

}











/* ===================== Mobile ======================= */


@media only screen and (max-width: 426px) {

/* *************************** Header **************************** */
    .menu ul li{
        width: 100%;
        text-align: center;
        font-size: medium;
        margin: 2px;
    }    
    
    .fa-github{
        font-size: 30px;
    }

    h1{
        font-size: 20px;

    }

    .name_title h2{

        font-size: 15px;
        
    }
    .Profile_picture img{
        
        width: 115px;
        height: 115px;
    }

    .introductory{
        font-size: small;
        margin: 3vw 1.5vw;
        
    }

    .menu nav ul {
        width: 80%;
    }
    .Profile_picture{

        margin: 2.2vw;
    }

/* *************************** main **************************** */
 
    main h2{
        padding-bottom: 10px;
        text-align: center;
    }

    section{
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h2{
        margin-top: 60px;
        margin-bottom: 10px;
    }

    h3{
        margin-bottom: 5px;
    }

    article{
        margin: 0 15px 15px 15px;
    }

    /* **************************** skills ********************** */

    .headings{
        margin: 2.5px;
    }
    
    
    #SkillsDemo img{
        width: 25px;
    
    }
        
    .skillsContent {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;
    }
     
     /* **************************** work ********************** */

    .work , .responsibilities_accomplishments{
        margin:  5px;
    }
    
    #work article{
        background-color: #FFE8D2;
        box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
        border-radius: 5px;
        
    }
    
    /* **************************** form ********************** */


    .form-buttons{
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #submit, #reset{
        font-size: 10px;
    }
    
    
    .choices{
        display: block;
    }
    
    input, select, option{
        padding: 5px;
    }
    
    textarea{
        border-radius: 10px;
    }
    
    form{
        width: 50vw;
        margin: 10px auto;
    }
    
    .choices{
        margin-top: 4px;
        margin-bottom: 3px;
    }
    
    fieldset{
        padding: 10px;
    }
    
     /* **************************** footer ********************** */

    footer a{
        margin: .5vw;
    }
    
    footer .fa-github, footer .fa-linkedin, footer .fa-twitter,footer .fa-instagram,.fa-sharp{
        font-size: 40px;
    }
    
    
    .highlight{
        background-color: #209ea7;
        margin-bottom: .5vw;
    
    }
}







/* ======================== TABLET =================================  */

@media only screen and (max-width: 769px) {

    /* *************************** Header **************************** */
        .menu ul li{
            margin: 4px;
        }    
        
        .fa-github{
            font-size: 35px;
        }
    
        h1{
            font-size: 25px;
    
        }
    
        .name_title h2{
    
            font-size: 20px;
            
        }
        .Profile_picture img{
            
            width: 125px;
            height: 125px;
        }
    
        .introductory{
            font-size: medium; 
        }

        .menu nav ul {
            width: 90%;
        }

        .Profile_picture{
    
            margin: 2.2vw;
        }
    
    /* *************************** main **************************** */
     
        main h2{
            padding-bottom: 15px;
            text-align: center;
        }
    
        section{
            width: 85%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
        h2{
            margin-top: 60px;
            margin-bottom: 15px;
        }
    
        h3{
            margin-bottom: 10px;
        }
    
        
        /* **************************** skills ********************** */        
        
        #SkillsDemo img{
            width: 25px;
        
        }
         
         /* **************************** work ********************** */
    
        .work , .responsibilities_accomplishments{
            margin:  8px;
        }
        
        #work article{
            background-color: #FFE8D2;
            box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 20%);
            border-radius: 5px;
            
        }
        
        /* **************************** form ********************** */
    
    
        .form-buttons{
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }
        
        #submit, #reset{
            font-size: 15px;
        }
        
               
        input, select, option{
            padding: 10px;
        }
        
        
        form{
            width: 50vw;
            margin: 10px auto;
        }
        
         /* **************************** footer ********************** */
    
        footer a{
            margin: .5vw;
        }
        
        footer .fa-github, footer .fa-linkedin, footer .fa-twitter,footer .fa-instagram,.fa-sharp{
            font-size: 45px;
        }
        
        
    }
    